*{
    padding:0;
    margin:0;
    list-style: none;
    box-sizing: border-box;
}
/*header*/
header{
    background-color:rgb(54, 53, 53);
    width:100%;
    background-position: center;
    background-size:cover;
}

/*container-1*/
.container-1{
    height:80px;
}

.nav-1{
    width:100%;
    height:75px;
    margin:auto;
}

.icon{
    padding-left:20px;
    padding-top:10px;
    width:100px;
    float:left;
    height:60px;
}

#cName{
    font-family:tahoma;
    color: #fab132;
    font-weight: bold;
}

.head_log-sign{
    width:400px;
    float:right;
    height:80px;
}

#S1{
    margin:15px;
    padding-right: 30px;
    display:flex;
    float:right;
}

ul li{
    padding: 20px 20px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-family:arial;
    transition:0.4s ease-out;
    font-size:16px;
}

ul li a:hover{
    color:#fab132;
    border-radius: 5px;
}

/*container-2*/
.container-2{
    height:60px;
}

.menubar{
    display:inline-flex;
}

 /*container-3*/
 .container-3{
     width:100%;
     height:1000px;
     background-color: rgb(245, 245, 245);
 }
 
 #sign-back{
	 width:100% ;
	 height:100% ;
	 outline:none ;
 }

 .content{
    padding-top: 40px;
    text-align:center;
 }
 *{
	margin: 0;
	padding: 0;
	border:none ;
	font-family: arial;
	text-decoration: none;
}

body{
	background-image:url("image3.jpg");
	background-repeat:no-repeat ;
	background-size:cover ;
}

.loginbox{
	width:380px ;
	height:780px ;
	background:rgb(90, 90, 90) ;
	color:#fff ;
	top: 73% ;
	left: 50% ;
	position:absolute ;
	transform:translate(-50%,-50%) ;
	box-sizing:boder-box ;
	padding:70px 30px ;
	border-radius:10px ;
}

.avatar{
	width:100px ;
	height:100px ;
	border-radius:50% ;
	position:absalute ;
	top: -60% ;
	left:calc(50% - 50px) ;
}

h1{
	margin:0 ;
	padding:0 0 20px ;
	text-align:center ;
	font-size:22px ;
	
}

.loginbox label{
	margin:0 ;
	padding:5px ;
	font-weight:bold ;
	float:left;
	
}

.loginbox input{
	width: 100% ;
	margin-bottom:20 px ;
}

.loginbox input[type="text"],input[type="password"],input[type="email"],input[type="Tel-phone"],textarea{
	border:none ;
	border-bottom:1px solid #fff ;
	background:transparent ;
	outline:none ;
	height:40px ;
	color:#fff ;
	font-size:16px ;
}

.loginbox input[type="submit"]{
	border:none ;
	outline:none ;
	height:40px ;
	background:#fb2525 ;
	color:#fff ;
	font-size:18px ;
	border-radius:20px ;
	transition:0.4s ease-out ;
}

.loginbox input[type="submit"]:hover
{
	cursor:pointer ;
	background:orange ;
	color:#000 ;
}

.loginbox a{
	text-decoration:none ;
	font-size:12px ;
	line-height:20px ;
	color:darkgray ;
}

.loginbox a:hover
{
	color:orange ;
	
}

#do_hve_cc{
	padding-top:60px;
	padding-right:22px;
	color:white;
	float:left;
}

#s-up{
	padding-top:60px;
	padding-right:22px;
	color:white;
	float:left;
	transition: 0.4s ease-out;
}
 /*footer*/
 footer{
    width:100%;
    background-color: rgb(54, 53, 53);
    color:rgb(255, 255, 255);
    font-family: arial;
 }


 /*container-4*/
 .container-4{
    height:50px;
 }

 .footer-menu{
    display:inline-flex;
    float: left;
    padding-right: 30px;
    padding-top: 15px;
 }

 /*social-menu*/
 i{
    margin-top:30px;
    padding-right:40px ;
    float:right ;
    color:white;
    transition: 0.4s ease-out;
}
i:hover{
    color: orange;
}
.fa-facebook{
}
.fa-instagram{
}
.fa-twitter{
}
.fa-linkedin{
}
/*container-5*/
.container-5{
    height:auto;
    padding: 10px;  
}
.cpyright p{
    margin:10px;
    padding: 10px; 
    text-align: center;
    font-size: 15px;
}
/*content*/
*{
	/*margin: 0;
	padding: 0;*/
	border:none ;
	font-family: arial;
	text-decoration: none;
}

body{
	background-image:url("image3.jpg");
	background-repeat:no-repeat ;
	background-size:cover ;
}

.loginbox{
	width:380px ;
	height:780px ;
	background:rgb(90, 90, 90) ;
	color:#fff ;
	top: 73% ;
	left: 50% ;
	position:absolute ;
	transform:translate(-50%,-50%) ;
	box-sizing:boder-box ;
	padding:70px 30px ;
	border-radius:10px ;
}

.avatar{
	width:100px ;
	height:100px ;
	border-radius:50% ;
	position:absalute ;
	top: -60% ;
	left:calc(50% - 50px) ;
}

h1{
	margin:0 ;
	padding:0 0 20px ;
	text-align:center ;
	font-size:22px ;
	
}

.loginbox label{
	margin:0 ;
	padding:5px ;
	font-weight:bold ;
	float:left;
	
}

.loginbox input{
	width: 100% ;
	margin-bottom:20 px ;
}

.loginbox input[type="text"],input[type="password"],input[type="email"],input[type="Tel-phone"],textarea{
	border:none ;
	border-bottom:1px solid #fff ;
	background:transparent ;
	outline:none ;
	height:40px ;
	color:#fff ;
	font-size:16px ;
}

.loginbox input[type="submit"]{
	border:none ;
	outline:none ;
	height:40px ;
	background:#fb2525 ;
	color:#fff ;
	font-size:18px ;
	border-radius:20px ;
	transition:0.4s ease-out ;
}

.loginbox input[type="submit"]:hover
{
	cursor:pointer ;
	background:orange ;
	color:#000 ;
}

.loginbox a{
	text-decoration:none ;
	font-size:12px ;
	line-height:20px ;
	color:darkgray ;
}

.loginbox a:hover
{
	color:orange ;
	
}

#do_hve_cc{
	padding-top:60px;
	padding-right:22px;
	color:white;
	float:left;
}

#Sign_In{
	padding-top:60px;
	padding-right:22px;
	color:white;
	float:left;
	transition: 0.4s ease-out;
}

/*sign */